#Project 1 - Cleaning and preparing tables on Python Pandas

1 - Description of project

Demonstrative project using Python and DA libraries. The objective is using these libraries and functions in order to read and prepare some tables.


2 - Structure

- Folder table contains 3x Excel tables. They are already prepared for use (I checked for duplicity, null values and rows, mistyping, bad number formatting, equalizing columns of the three files). It was already worked inside Excel itself using formulas and formatting. The first row of the three is the column names.


3 - Steps

- Created a project on GitHub to manage the changes, loaded files (concordia, mcgill, trebas.xlsx), created jupyter files to document process.
-

In [11]:
#Import 3 sheets

import pandas as pd
dfcon = pd.read_excel('data/Concordia.xlsx')
dfmcg = pd.read_excel('data/McGill.xlsx')
dftre = pd.read_excel('data/TREBAS.xlsx')

In [12]:
#dfcon.head()
#dfcon.shape
dfcon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          888 non-null    int64
 1   Full Name   888 non-null    object
 2   First Name  888 non-null    object
 3   Last Name   874 non-null    object
 4   City        0 non-null      float64
 5   Country     888 non-null    object
 6   Program     888 non-null    object
 7   Flag        888 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 55.6+ KB

In [13]:
#dfmcg.head()
#dfmcg.shape
#dfmcg.info()

In [14]:
#dftre.head()
#dftre.shape
#dftre.info()

In [18]:
dtotal = pd.concat([dfcon, dfmcg, dftre])
dtotal.head()

  ID    Full Name First Name Last Name City   Country    Program       Flag
0  1  A. S. Neill         A.  S. Neill  NaN   England  Analytics  Concordia
1  2   Abe Moffat        Abe    Moffat  NaN  Scotland  Analytics  Concordia
2  3     Adam Ant       Adam       Ant  NaN   England  Analytics  Concordia
3  4    Adam Dodd       Adam      Dodd  NaN   England  Analytics  Concordia
4  5   Adam Smith       Adam     Smith  NaN  Scotland  Analytics  Concordia